* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
  list-style: none;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  color: #2b2b2b;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

/* GRID */
.container {
  max-width: 150rem;
  margin: 0 auto;
  padding: 1.5rem;
  width: 100%;
}
/* HEADER */
.header {
  background: transparent;
  padding: 2rem;
  position: relative;
  position: fixed;
  width: 100%;
  /* para naka ultaw, may power to send to front to send to back */
  z-index: 999;
}
.header__nav ul.nav {
  display: flex;
  gap: 2rem;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav ul.nav li a {
  color: var(--light);
  font-size: 1.5rem;
  font-weight: 600;
}
.header__nav ul.nav li:hover a {
  color: var(--primary);
}
.header__nav ul.nav li:last-child a {
  background: var(--primary);
  padding: 1rem 1.5rem;
  border-radius: 5rem;
  border: 2px solid var(--light);
  transition: 0.5s ease;
}
.header__nav ul.nav li:last-child:hover a {
  background: var(--light);
  transition: 0.5s ease;
}
.header__nav img {
  display: none;
}
.header__nav ul.social {
  display: none;
}
.burgir__menu {
  display: none;
  z-index: 999;
}
.burgir__menu span {
  width: 3rem;
  height: 0.3rem;
  background-color: var(--light);
  display: block;
  border-radius: 5rem;
  transition: 0.5s ease;
}
.burgir__menu span:nth-child(2) {
  margin: 0.5rem 0;
}
.burgir__menu.open span:first-child {
  transform: translate(0, 10px) rotate(225deg);
  transition: 0.5s ease;
}
.burgir__menu.open span:nth-child(2) {
  opacity: 0;
  transition: 0.5s ease;
}
.burgir__menu.open span:last-child {
  transform: translate(0, -7px) rotate(-225deg);
  transition: 0.5s ease;
}
/* code for activity hahah yoko n nag-cry */
.header__nav.open {
  right: 0rem;
  transition: 0.5s ease;
}

/* HEADER MOBILE */
@media screen and (max-width: 500px) {
  .header__nav {
    background: gray;
    position: absolute;
    /* longhitude or latitude each axis isa lang */
    top: 0rem;
    right: -100rem;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
  }

  .header__nav ul.nav {
    display: flex;
    flex-direction: column;
  }
  .header__nav ul.social {
    display: flex;
    gap: 2rem;
    transform: translateY(3rem);
  }
  .header__nav ul.social li a {
    color: var(--light);
    font-size: 3rem;
  }
  .header__nav img {
    display: block;
    transform: translateY(-3rem);
  }
  .burgir__menu {
    display: block;
  }
}

/* BANNER */
.banner {
  background-image: url("/img/banner_home_v1.jpg");
  background-size: cover;
  height: 100vh;
  background-position: center center;
  /* para hindi siya nakakawala */
  position: relative;
  display: flex;
  align-items: center;
}
.banner__faq {
  background: var(--light);
  /* kung gaano kahaba yung text, kasya na */
  width: fit-content;
  padding: 2.5rem 4rem;
  border-top-left-radius: 4rem;
  position: absolute;
  bottom: 0;
  /* dapat sagad */
  right: 0;
}
/* arrow spacing */
.banner__faq a {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: var(--dark);
  font-size: 1.5rem;
  font-weight: 600;
}
.banner__faq a:hover {
  color: var(--primary);
}
.banner__faq a i {
  transition: 0.5s ease;
}
/* kaya i kasi i class sa html */
.banner__faq a:hover i {
  /* kasi x-axis */
  transform: translateX(1rem);
  transition: 0.5s ease;
}
.banner__text ul.social {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.banner__text ul.social li a {
  color: var(--light);
  font-size: 3rem;
}
.banner__text {
  /* para magkasama na yung h1 hanggang paragraph at dun sa pinakababa */
  max-width: 65rem;
  /* dapat lahat may flex sa gap */
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.banner__text h1 {
  font-size: 5rem;
  color: var(--light);
  font-weight: 600;
  /* adjustment ng h1 */
}
.banner__text p {
  color: var(--light);
  font-size: 2rem;
}
.banner__text ul.dutdot {
  display: flex;
  gap: 3rem;
}
/* OFFER */
.offer {
  padding: 5rem 0;
  height: 50vh;
}
.offer__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10rem;
}
.offer__text h2 {
  font-size: 4rem;
  font-weight: 700;
  color: var(--primary);
  margin-bottom: 3rem;
}
.offer__text p {
  margin-bottom: 2rem;
  font-weight: 600;
  text-align: justify;
  max-width: 60rem;
}
.offer__price {
  color: #d79a28;
  margin-top: 10rem;
  font-size: 3.5rem;
  font-weight: 600;
}
.offer__price h2 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--primary);
}
.offer__price__bot {
  display: flex;
  color: var(--primary);
  font-weight: 700;
}
.offer__price__bot .offer__cents h4 {
  font-size: 3rem;
  color: #d79a28;
}
.offer__price__bot h3 {
  font-size: 18rem;
  margin-top: -6rem;
}
/* OFFER MOBILE */
@media screen and (max-width: 500px) {
  .offer {
    padding: 5rem 0;
    height: 62vh;
  }
  .offer__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10rem;
  }
  .offer__text h2 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 3rem;
    text-align: center;
  }
  .offer__text p {
    margin-bottom: 2rem;
    font-weight: 600;
    text-align: justify;
    max-width: 60rem;
  }
  .offer__price {
    margin-top: -6rem;
    text-align: center;
  }
  .offer__price h2 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--primary);
  }
  .offer__price__bot {
    display: flex;
    color: var(--primary);
    font-weight: 700;
  }
  .offer__price__bot h4 {
    margin: 0 auto;
    font-size: 3rem;
    margin-left: 10rem;
  }
  .offer__price__bot h3 {
    font-size: 18rem;
    margin-top: -6rem;
  }
}
@media screen and (max-width: 500px) {
  .banner__text h1 {
    font-size: 4rem;
    text-align: center;
  }
  .banner__text p {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
  }
  /* alignment na ng dalawang btn sa baba */
  .banner__text ul.dutdot {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  /* nagpantay yung dalawang btn ng haba */
  .banner__text ul.dutdot li a {
    width: 80%;
  }
  .banner__text ul.social {
    justify-content: center;
  }
  .banner__faq {
    width: 100%;
    border-top-left-radius: 0rem;
  }
  .banner__faq a {
    justify-content: center;
  }
}
/* HOW MOBILE */
@media screen and (max-width: 500px) {
  .how {
    margin: 0 auto;
    background: var(--primary);
    height: 70vh;
  }
  .how__ate {
    display: none;
  }
  .how__wrapper {
    font-size: 1.5rem;
    margin: 12rem;
  }
  .how__text h2 {
    text-align: center;
  }
  .how__text p {
  }
  .how__text a {
    width: 200%;
  }
}
/* RECO MOBILE */
@media screen and (max-width: 500px) {
  .recommend {
    padding: 5rem 0;
    background: #f0e9da;
    height: 70vh;
  }
  .recommend .recommend__wrapper {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.recommend__wrapper h2 {
    font-size: rem;
    font-weight: 700;
    text-align: center;
    color: var(--primary);
  }
  .recommend .recommend__wrapper p {
    margin-bottom: 3rem;
  }
  .recommend .recommend__wrapper ul {
    display: flex;
    gap: 2rem;
  }
}
/* FOOTER MOBILE */
@media screen and (max-width: 500px) {
  .footer {
    display: block;
    align-items: center;
    justify-content: center;
    height: 28rem;
    background: var(--primary);
  }
  .footer__wrapper {
    display: block;
    gap: 3rem;
    margin-top: -2rem;
  }
  .footer__text a {
    color: var(--light);
    font-size: 1.3rem;
    margin-bottom: 4rem;
    padding: 1rem;
  }
  .footer__text a:last-child {
    margin-top: -5rem;
    height: 3.5rem;
    width: 22rem;
  }
  .footer__text p {
    display: block;
    color: var(--light);
    text-align: center;
    font-size: 1.3rem;
  }
  .social {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    font-size: 3rem;
    gap: 4rem;
  }
  .social a:first-child {
    font-size: 3rem;
    color: var(--light);
    padding: 0.1rem;
  }
}
/* HOW */
.how {
  background: var(--primary);
}
.how__wrapper {
  /* hindi siya nagana ng basta siya lang */
  display: grid;
  /* yung numbe rof values na ilalagay dito, nakadepende sa ilang columns ang ilalagay */
  grid-template-columns: 2fr 2fr;
  min-height: 500px;
}
.how__ate {
  background-image: url("img/different_img.jpg");
  background-size: cover;
  background-position: center center;
  height: 100%;
}
.how__text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  max-width: 75rem;
  /* makakapagpagitna lang ng width kapag may margin 0 auto */
  margin: 0 auto;
}
.how__text h2 {
  color: var(--light);
  font-size: 4rem;
  font-weight: 600;
}
.how__text p {
  color: var(--light);
}
/* RECO */
.recommend {
  padding: 5rem 0;
  background: #f0e9da;
  height: 45vh;
}
.recommend__wrapper p {
  font-weight: 600;
}
.recommend .recommend__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
}
.recommend .recommend__wrapper h2 {
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
  color: var(--primary);
  margin-bottom: 3rem;
  line-height: 1;
}
.recommend .recommend__wrapper p {
  margin-bottom: 3rem;
}
.recommend .recommend__wrapper ul {
  display: flex;
  gap: 1.5rem;
}

/* FOOTER */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28rem;
  background: var(--primary);
}
.footer__wrapper {
  display: flex;
  gap: 3rem;
  margin-top: -2rem;
}
.footer__text a {
  color: var(--light);
  font-size: 1.3rem;
  margin-bottom: 4rem;
  padding: 1rem;
}
.footer__text a:last-child {
  margin-top: -5rem;
  height: 3.5rem;
  width: 22rem;
}
.footer__text p {
  color: var(--light);
  text-align: center;
  font-size: 1.3rem;
}
.social {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  font-size: 3rem;
  gap: 4rem;
}
.social a:first-child {
  font-size: 3rem;
  color: var(--light);
  padding: 0.1rem;
}

/* REPEATABLE PATTERNS */
:root {
  --light: #ffffff;
  --dark: #2b2b2b;
  --primary: #134a8c;
}
.btn {
  /* ayan yung mga css na similar lahat ng btn */
  /* power to manipulate freely the width and height manually edit */
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border-radius: 5rem;
  /* may tatlong parameters para ifill out, 1st ay 2nd auy space, which is solid */
  border: 1px solid transparent;
  transition: 0.5s ease;
  /* para palaging nakacenter yung text */
  text-align: center;
}
.btn:hover {
  /* panglaki ng btn like zooming ng konti */
  scale: 1.1;
  transition: 0.5s ease;
}
.btn.bg--primary {
  background: var(--primary);
  color: var(--light);
  font-size: 1.5rem;
  font-weight: 600;
}
.btn.bg--light {
  background: var(--light);
  color: var(--primary);
  font-size: 1.5rem;
  font-weight: 600;
}
